<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> Change Password</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">

    <form [formGroup]="PasswordForm" (submit)="onSubmit()">
        <div class="p-fluid p-formgrid grid">
            
            
        
            <div class="field col-12 ">
                <label htmlFor="firstname2">Current Password</label>
                <input pInputText id="firstname2" formControlName="CurrentPassword" type="text" />
            </div>
            <div class="field col-12 ">
                <label htmlFor="firstname2">New Password</label>
                <input pInputText id="firstname2" formControlName="NewPassword" type="text" />
            </div>
            <div class="field col-12 ">
                <label htmlFor="firstname2">Confirm New Password</label>
                <input pInputText id="firstname2" formControlName="ConfirmPassword" type="text" />
            </div>
            <button pButton type="submit" [disabled]="!PasswordForm.valid" label="Submit"></button>
        </div>
    </form>
</div>
