
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> Update Project</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
    <form [formGroup]="EmployeeForm" (submit)="onSubmit()">
        <div class="row">
        <div class="col-md-3 ">
            <img  [src]="getImage2()" alt="Profile"
                style="width: 230px; border-radius: 50%; height: 230px;">
            <input #file (change)="onUpload2($event)" type="file" style="display: none;" accept="image/*" />
            <div class="pt-2">
                <a (click)="file.click()" style="width: 100%;" class="btn btn-outline-primary btn-sm"
                    title="Upload new profile image">
                    <i class="bi bi-upload"></i> Upload Image
                </a>
            </div>
        </div>
        <div class="col-md-9">
        <div class="p-fluid p-formgrid grid">
            
        

        

            <div class="field col-12 md:col-4">
                <label htmlFor="firstname2">Firstname</label>
                <input pInputText id="firstname2" formControlName="FirstName" type="text" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="lastname2">Lastname</label>
                <input pInputText id="lastname2" formControlName="LastName" type="text" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="firstname2">Email </label>
                <input pInputText id="firstname2" formControlName="Email" type="text" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="firstname2">Birth Date</label>
                <input pInputText id="firstname2" formControlName="BirthDate" type="date" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="lastname2">Phone Number</label>
                <input pInputText id="lastname2" formControlName="PhoneNumber" type="text" />
            </div>

            <div class="field col-12 md:col-4">
                <label htmlFor="state">Employee Position</label>
                <p-dropdown [options]="positionDropdownItems" optionLabel="name"
                    formControlName="EmploymentPosition"></p-dropdown>
            </div>

            <div class="field col-12 md:col-4">
                <label htmlFor="lastname2">Hired Date</label>
                <input pInputText id="lastname2" type="date" formControlName="EmploymentDate" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="lastname2">Address</label>
                <input pInputText id="lastname2" type="text" formControlName="Address" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="state">Gender</label>
                <p-dropdown [options]="genderDropdownItems" optionLabel="name" formControlName="Gender"></p-dropdown>
            </div>
            <hr />
            
        </div>
        </div>
        <button pButton type="submit" [disabled]="!EmployeeForm.valid" label="Submit"></button>
    </div>
    </form>
</div>
</div>
</div>

