<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> Edit Task</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">

    <form [formGroup]="TaskForm" (submit)="onSubmit()">
        <div class="p-fluid p-formgrid grid">
            <div *ngIf="task.taskFiles !== null" class="field col-12">
                <p-fileUpload   (onSelect)="onUpload($event)" [multiple]="true" 
                 [maxFileSize]="50000000">
                <ng-template pTemplate="content">
                    <ul >
                        <li *ngFor="let file of task.taskFiles">{{file.fileName}} 
                            <a (click)="viewPdf(file.filePath,file.fileType)" target="_blank" >  <i *ngIf="isPDFFile(file.filePath)" class="pi pi-file-pdf text-primary p-2" style="font-size: 20px;background-color: #5c1d1612; border-radius: 50%; " ></i>
                                <i *ngIf="isImageFile(file.filePath)" class="pi pi-image text-primary p-2" style="font-size: 20px;background-color: #5c1d1612; border-radius: 50%; " ></i>
                                <i *ngIf="!isImageFile(file.filePath) && !isPDFFile(file.filePath)" class="pi pi-file text-primary p-2" style="font-size: 20px;background-color: #5c1d1612; border-radius: 50%; " ></i>
                                &nbsp;&nbsp;
                            </a>
                        </li>
                        
                    </ul>
                    <div></div>
                </ng-template>
                </p-fileUpload>
            
            </div>

            
            <!-- <div *ngIf="task.taskFiles !== null" class="field col-12 ">
                <ng-template *ngFor="let file of task.taskFiles" pTemplate="content">
                    <a (click)="viewPdf(file.filePath)" target="_blank" >  <i *ngIf="isPDFFile(task.filePath)" class="pi pi-file-pdf text-primary p-2" style="font-size: 30px;background-color: #5c1d1612; border-radius: 50%; " ></i>
                        <i *ngIf="isImageFile(file.filePath)" class="pi pi-image text-primary p-2" style="font-size: 30px;background-color: #5c1d1612; border-radius: 50%; " ></i>
                        &nbsp;&nbsp;
                    </a>
                </ng-template>
                <input #file (change)="onUpload2($event)" type="file" style="display: none;" accept="pdf/*" />
                    <div class="pt-2">
                        <a (click)="file.click()" style="width: 100%;" class="btn btn-outline-primary btn-sm"
                            title="Upload new task file">
                            <i class="bi bi-upload"></i> Upload File
                        </a>
                    </div>
            </div> -->

            <div class="field col-12 md:col-4">
                <label htmlFor="firstname2">Task Name</label>
                <input pInputText id="firstname2" formControlName="TaskName" type="text" />
            </div>
            
            
            <!-- <div class="field col-12 md:col-4">
                <label htmlFor="firstname2">Assigned Date</label>
                <input pInputText id="firstname2" formControlName="AssignedDate" type="date" />
            </div> -->
            <div class="field col-12 md:col-4">
                <label htmlFor="firstname2">Due Date</label>
                <input pInputText id="firstname2" formControlName="EndDate" type="date" />
            </div>
            

            <div class="field col-12 md:col-4">
                <label htmlFor="state">Task Status</label>
                <p-dropdown [options]="taskStatusDropDown" optionLabel="name"
                    formControlName="TaskStatus" placeholder="Select Task Status" [showClear]="true"></p-dropdown>
            </div>
       
            <div class="field col-12 md:col-4">
                <label htmlFor="lastname2">Task Priority</label>
                <p-dropdown [options]="taskPriorityDropDown" optionLabel="name"
                    formControlName="TaskPriority" placeholder="Select Task Priority" [showClear]="true"></p-dropdown>
            </div>
            <div *ngIf="task && task.projectId !== null" class="field col-12 md:col-4">
                <label htmlFor="lastname2">Project</label>
                <p-dropdown [options]="projectSelectList" optionLabel="label"
                    formControlName="ProjectId" placeholder="Select Project" [showClear]="true"></p-dropdown>
            </div>
            <div class="field col-12 ">
                <textarea rows="3" cols="15" placeholder="Task Description" formControlName="TaskDescription" pInputTextarea></textarea>
            </div>
            
            <hr />
            <button pButton type="submit" [disabled]="!TaskForm.valid" label="Submit"></button>
        </div>
    </form>
</div>
