<div class="col-12">
  <div *ngIf="allowedRoles(['Admin'])" class="card">
    <h5 style="font-size: 16px; font-weight:700; color: #3366fe;">All Task List</h5>
    <p-table [value]="tasks" dataKey="id" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="employee.name" style="font-size: 16px; font-weight:700;">Employee Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task let-expanded="expanded">
        <tr>
          <td>
              <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain"
                [pRowToggler]="task" (click)="expandedRow = (expandedRow === task) ? null : task"
                [icon]="(expandedRow === task) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td colspan="5"
            style="min-width: 200px; font-size: 20px; font-family: Roboto sans-serif; font-weight:700;">
            <img [alt]="" src="{{getImage(task.employee.imagePath)}}" width="32"
              style="vertical-align: middle; border-radius: 50%;" />
            <span class="font-bold ml-2">{{task.employee.name}}</span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-task>
        <tr *ngIf="expandedRow === task">
          <td colspan="7">
            <div class="p-3">
              <p-table [value]="task.tasks" dataKey="id" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="taskName" style="font-size: 16px; font-weight:700;">Task Name</th>
                    <th pSortableColumn="endDate" style="font-size: 16px; font-weight:700;">Deadline</th>
                    <th pSortableColumn="taskStatus" style="font-size: 16px; font-weight:700;">Status</th>
                    <th pSortableColumn="taskPriority" style="font-size: 16px; font-weight:700;">Priority</th>
                    <th style="width: 4rem"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-innerTask>
                  <tr>
                    <td style="min-width: 200px;">
                      {{innerTask.taskName}}</td>
                    <td style="min-width: 200px;">
                      {{innerTask.endDate}}</td>
                      <td style="width:200px">
                        <span [class]="'status-badge status-'+innerTask.taskStatuses.toLowerCase()">{{innerTask.taskStatuses}}</span>
                    </td>
                    <td style="width:200px">
                        <span [class]="'priority-badge prio-'+innerTask.taskPriority.toLowerCase()">{{innerTask.taskPriority}}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="card">
    <h5>My Tasks</h5>
    <div class="text-right">
      <button pButton label="NEW TASK" class="p-button-outlined mb-2"  icon="pi pi-plus" (click)="addTask()"></button>
    </div>

    <div class="grid">
      <div class="col-5">
        <p-dataView [value]="employeeTask" #dv [paginator]="true" [rows]="6" filterBy="name" layout="list">
          <ng-template let-emptask pTemplate="listItem">
            <div class="col-12 ">
              <div  class="card m-3 border-1 surface-border" >
                <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                  <div class="flex align-items-left">
                    <i class="pi pi-stopwatch mr-2"></i>
                    <span class="font-semibold ">{{emptask.endDate | date:'yyyy-MM-dd'}}</span>
                  </div>
                  <!-- <p-chip [label]="emptask.employeeName" [image]="getImage(emptask.employeeImagePath)" styleClass="m-1"></p-chip> -->
                  <!-- <span [class]="'project-badge status-'+project.projectStatus.toLowerCase()" >{{project.projectStatus}}</span> -->
                </div>
                <div (click)="editTask(emptask.id)"  class="flex flex-column align-items-center text-center mb-3">
                  
                  <div class="text-xl font-bold">{{emptask.taskName}}</div>
                  <div class="mb-3">{{emptask.taskDescription}}</div>
                  
                  
                  
                </div>
                
                
                
                <div class="flex flex-column">
                  
                  task
              
                </div>
                
              </div>
            </div>
          </ng-template>
        </p-dataView>  
      </div>  
      <div class="col-2">
        <p-divider layout="vertical">
            
        </p-divider>
      </div>
    </div>

  </div>
</div>