<div class="col-12">
  <div class="mb-2" *ngIf="allowedRoles(['Admin'])">
    <p-dropdown [(ngModel)]="selectedValue" [options]="dropdownOptions" >
      
    </p-dropdown>
  </div>
  <div *ngIf="allowedRoles(['Admin']) && selectedValue === 'AT'" class="card">
    <h5 style="font-size: 16px; font-weight:700; color: #3366fe;">All Task List</h5>
    <p-table [value]="tasks" dataKey="id" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="employee.name" style="font-size: 16px; font-weight:700;">Employee Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task let-expanded="expanded">
        <tr>
          <td>
              <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain"
                [pRowToggler]="task" (click)="expandedRow = (expandedRow === task) ? null : task"
                [icon]="(expandedRow === task) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td colspan="5"
            style="min-width: 200px; font-size: 20px; font-family: Roboto sans-serif; font-weight:700;">
            <img [alt]="" src="{{getImage(task.employee.imagePath)}}" width="32"
              style="vertical-align: middle; border-radius: 50%;" />
            <span class="font-bold ml-2">{{task.employee.name}}</span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-task>
        <tr *ngIf="expandedRow === task">
          <td colspan="7">
            <div class="p-3">
              <p-table [value]="task.tasks" dataKey="id" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="taskName" style="font-size: 16px; font-weight:700;">Task Name</th>
                    <th pSortableColumn="endDate" style="font-size: 16px; font-weight:700;">Deadline</th>
                    <th pSortableColumn="taskStatus" style="font-size: 16px; font-weight:700;">Status</th>
                    <th pSortableColumn="taskPriority" style="font-size: 16px; font-weight:700;">Priority</th>
                    <th style="width: 4rem"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-expanded="expanded" let-innerTask>
                  <tr>
                    <td style="min-width: 200px;">
                      {{innerTask.taskName}}</td>
                    <td style="min-width: 200px;">
                      {{innerTask.endDate  | date: 'MM/dd/yyyy'}}</td>
                      <td style="width:200px">
                        <span [class]="'status-badge status-'+innerTask.taskStatuses.toLowerCase()">{{innerTask.taskStatuses}}</span>
                    </td>
                    <td style="width:200px">
                        <span [class]="'priority-badge prio-'+innerTask.taskPriority.toLowerCase()">{{innerTask.taskPriority}}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="card" *ngIf="selectedValue === 'MT' || !allowedRoles(['Admin'])">
    <h5>My Tasks</h5>
    <div class="text-right">
      <button pButton label="NEW TASK" class="p-button-outlined mb-2"  icon="pi pi-plus" (click)="addTask()"></button>
    </div>

    <div class="grid">
      <div class="col-12">
      <div class="board">
        <div class="column" (dragover)="dragOver($event)" (drop)="onDrop($event,'NOTSTARTED')">
          <h4>Tasks</h4>
          <div class="card" draggable="true" *ngFor="let item of filterdTask('NOTSTARTED')" (dragstart)="onDragStart(item)"
          [class]="getStyleee(item)">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
              <div class="flex align-items-left">
                <i class="pi pi-stopwatch mr-2"></i>
                <span class="font-semibold">{{item.endDate | date:'yyyy-MM-dd'}}</span>
              </div>
              <div class="flex align-items-right">
                <span style="font-size: 16px; margin-right: 5px;">OnHold</span>
                <p-inputSwitch [(ngModel)]="item.isOnHold" (onChange)="onSwitchToggled($event,item)"></p-inputSwitch>
              </div>
           
            </div>
            <div (click)="editTask(item.id)" class="flex flex-column align-items-center text-center mb-3">
              <div class="text-xl font-bold">{{item.taskName}}</div>
              <div class="mb-3">{{item.taskDescription}}</div>
            </div>
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
              <div class="flex align-items-left">
                <span [class]="'priority-badge prio-'+item.taskPriority.toLowerCase()">{{item.taskPriority}}</span>
              </div>
              <div class="flex align-items-right">
                <div class="mb-3">{{item.projectName}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="column" (dragover)="dragOver($event)" (drop)="onDrop($event,'INPROGRESS')">
          <h4>IN PROGRESS</h4>
          <div class="card" draggable="true"  *ngFor="let item of filterdTask('INPROGRESS')" (dragstart)="onDragStart(item)"  
          [class]="getStyleee(item)">  
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
            <div class="flex align-items-left">
              <i class="pi pi-stopwatch mr-2"></i>
              <span class="font-semibold ">{{item.endDate | date:'yyyy-MM-dd'}}</span>
            </div>
            <div class="flex align-items-right">
              <span style="font-size: 16px; margin-right: 5px;">OnHold</span>
              <p-inputSwitch [(ngModel)]="item.isOnHold" (onChange)="onSwitchToggled($event,item)"></p-inputSwitch>
            </div>
          </div>
          <div (click)="editTask(item.id)"  class="flex flex-column align-items-center text-center mb-3">
            
            <div class="text-xl font-bold">{{item.taskName}}</div>
            <div class="mb-3">{{item.taskDescription}}</div>
          </div>
          <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
            <div class="flex align-items-left">
              <span [class]="'priority-badge prio-'+item.taskPriority.toLowerCase()">{{item.taskPriority}}</span>
            </div>
            <div class="flex align-items-right">
              <div class="mb-3">{{item.projectName}}</div>
            </div>
          </div>
        </div>
        </div>
        <div class="column" (dragover)="dragOver($event)" (drop)="onDrop($event,'COMPLETE')">
          <h4>COMPLETE</h4>
          <div class="card green-border" draggable="true"  *ngFor="let item of filterdTask('COMPLETE')" (dragstart)="onDragStart(item)">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
              <div class="flex align-items-left">
                <i class="pi pi-stopwatch mr-2"></i>
                <span class="font-semibold ">{{item.endDate | date:'yyyy-MM-dd'}}</span>
              </div>
            </div>
            <div (click)="editTask(item.id)"  class="flex flex-column align-items-center text-center mb-3">
              
              <div class="text-xl font-bold">{{item.taskName}}</div>
              <div class="mb-3">{{item.taskDescription}}</div>
            </div>
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
              <div class="flex align-items-left">
                <span [class]="'priority-badge prio-'+item.taskPriority.toLowerCase()">{{item.taskPriority}}</span>
              </div>
                   <div class="flex align-items-right">
                <div class="mb-3">{{item.projectName}}</div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
     
 
      </div>  
    </div>

  </div>
</div>