.status-badge{
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
.status-badge {
    &.status-complete {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-overdue {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-onhold {
        background: #FEEDAF;
        color: #8A5340;
    }
    &.status-inprogress {
        background:#9DD9F3 ;
        color: #3B82F6 ;
    }
    &.status-notstarted {
      background: #FEEDAF;
      color: #8A5340;
  }
}
.priority-badge{
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
.priority-badge {
    &.prio-low {
        background: #C8E6C9;
        color: #256029;
    }
    &.prio-high {
        background: #FFCDD2;
        color: #C63737;
    }
    &.prio-medium {
        background: #FEEDAF;
        color: #8A5340;
    }
 
}
.small-text {
    font-size: 10px;
  }
  .board {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex-basis: 30%;
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .card1 {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px;
  }
  .green-border {
    background-color: #28a7458a;
  }
  .red-border{
   background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, #ff0000b8 100.2%); 
  }
  .bg-red {
    background-color: rgba(255, 0, 0, 0.57);
  }
  .bg-gradient {
    background-color: green; 
  }
  .gradient {
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%); 
  }



  .p-overlaypanel {
    --overlayArrowLeft: 403px; /* Set the desired value for --overlayArrowLeft */
    background-color: rebeccapurple;
  }