<div class="col-12">
    <div class="card">
        <h5 style="font-size: 26px; font-weight:700; color: #3366fe;">All Task List</h5>
            <p-table [value]="tasks" rowGroupMode="subheader" groupRowsBy="representative.name" sortField="representative.name" sortMode="single" responsiveLayout="scroll" [scrollable]="true" scrollHeight="400px">
				<ng-template pTemplate="header">
					<tr>
						<th style="font-size: 16px;  font-weight:700;"> Task Name </th>
						<th style="font-size: 16px; font-weight:700;"> Deadline </th>
						<th style="font-size: 16px;  font-weight:700;"> Status </th>
						<th style="font-size: 16px;  font-weight:700;"> Priority </th>
					</tr>
				</ng-template>
                <ng-template pTemplate="body" let-task let-rowIndex="rowIndex" >
					<tr pRowGroupHeader *ngIf="metadata[task.employeeName].index === rowIndex">
						<td colspan="5" style="min-width: 200px; font-size: 20px; font-family: Roboto sans-serif; font-weight:700;">
							<img [alt]="" src="{{getImage(task.employeeImagePath)}}" width="32" style="vertical-align: middle; border-radius: 50%;"  />
							<span class="font-bold ml-2">{{task.employeeName}}</span>
						</td>
					</tr>
                    <tr>
						<td style="min-width: 200px; font-size: 16px; font-family: Roboto sans-serif; font-weight:700;">
                            {{task.taskName}}
						</td>
						<td style="min-width: 200px; font-size: 16px; font-family: Roboto sans-serif; font-weight:700;">
                            {{task.endDate | date: 'MM/dd/yyyy'}}
						</td>
						<td style="min-width: 200px; font-size: 26px; font-family: Roboto sans-serif; font-weight:700;">
                            <span [class]="'status-badge status-'+task.taskStatuses.toLowerCase()" >{{task.taskStatuses}}</span>
						</td>
						<td style="min-width: 200px; font-size: 26px; font-family: Roboto sans-serif; font-weight:700;">
							<span [class]="'priority-badge prio-' + task.taskPriority.toLowerCase()"> {{task.taskPriority }}</span>
						</td>
					</tr>
                
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No Task Found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading task data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>


