<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> Update Project</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">

    <form [formGroup]="ProjectForm" (submit)="onSubmit()">
        <div class="p-fluid p-formgrid grid">
            <div *ngIf="project.projectFiles !== null" class="field col-12">
                <p-fileUpload   (onSelect)="onUpload($event)" [multiple]="true" 
                 [maxFileSize]="50000000">
                <ng-template pTemplate="content">
                    <ul >
                        <li *ngFor="let file of project.projectFiles">{{file.fileName}} 
                            <a (click)="viewPdf(file.filePath,file.fileType)" target="_blank" >  <i *ngIf="isPDFFile(file.filePath)" class="pi pi-file-pdf text-primary p-2" style="font-size: 20px;background-color: #5c1d1612; border-radius: 50%; " ></i>
                                <i *ngIf="isImageFile(file.filePath)" class="pi pi-image text-primary p-2" style="font-size: 20px;background-color: #5c1d1612; border-radius: 50%; " ></i>
                                <i *ngIf="!isImageFile(file.filePath) && !isPDFFile(file.filePath)" class="pi pi-file text-primary p-2" style="font-size: 20px;background-color: #5c1d1612; border-radius: 50%; " ></i>
                                &nbsp;&nbsp;
                            </a>
                        </li>
                        
                    </ul>
                    <div></div>
                </ng-template>
                </p-fileUpload>
            
            </div>
            
            <div class="field col-12 md:col-4">
                <label htmlFor="firstname2">Project Name</label>
                <input pInputText id="firstname2" formControlName="ProjectName" type="text" />
            </div>
            
            
            <div class="field col-12 md:col-4">
                <label htmlFor="firstname2">Assigned Date</label>
                <input pInputText id="firstname2" formControlName="AssignedDate" type="date" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="firstname2">Due Date</label>
                <input pInputText id="firstname2" formControlName="DueDate" type="date" />
            </div>
            

            <div class="field col-12 md:col-4">
                <label htmlFor="state">Project Status</label>
                <p-dropdown [options]="projectStatusDropdownItems" optionLabel="name" 
                    formControlName="ProjectStatus"  ></p-dropdown>
            </div>


            <div *ngIf="showInput2() === 'COMPLETED'" class="field col-12 md:col-4">
                <label htmlFor="firstname2">Completion Date</label>
                <input pInputText id="firstname2" formControlName="CompletionDate" type="date" />
            </div>
            <div *ngIf="showInput2() === 'COMPLETED'" class="field col-12 md:col-4">
                <label htmlFor="firstname2">Completion Remark</label>
                <input pInputText id="firstname2" formControlName="CompletionRemark" type="text" />
            </div>
            
           
            <div class="field col-12 md:col-4">
                <label htmlFor="lastname2">GitHub Link</label>
                <input pInputText id="lastname2" type="text" formControlName="GitHubLink" />
            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="lastname2">Assigned To</label>
                <p-dropdown [options]="assignedToDropdownItems" optionLabel="name"
                    formControlName="AssignedTo"></p-dropdown>
            </div>
            <div *ngIf="showInput() === 'EMPLOYEE'" class="field col-12 md:col-6">
                <label htmlFor="firstname2">Employees</label>
                <p-multiSelect  formControlName ="ProjectEmployees" (onChange)="SelectItems($event)" [options]="employeesSelectList" placeholder="Select Employee(s)" optionLabel="label" class="multiselect-custom" display="chip">
                    <ng-template let-employee pTemplate="item">
                        <div class="flex align-items-center">
                            <img [alt]="" [src]="getImage(employee.imagePath)" width="32"
                            style="vertical-align: middle; border-radius: 20px;" />
                            <span class="ml-2">{{employee.label}}</span>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </div>
            <div *ngIf="showInput() === 'TEAM'" class="field col-12 md:col-4">
                <label htmlFor="lastname2">Team</label>
			    <p-dropdown [options]="teamsSelectList" placeholder="Select Team" optionLabel="label"
                    formControlName="TeamId"></p-dropdown>
            </div>
            <div class="field col-12">
                <textarea rows="3" cols="15" placeholder="Project Description" formControlName="Description" pInputTextarea></textarea>
            </div>
            
            <hr />
            <button pButton type="submit" [disabled]="!ProjectForm.valid" label="Submit"></button>
        </div>
    </form>
</div>
</div>
</div>
