<div class="col-12">
    <div class="card">

        <h5>Employee List</h5>
        <div class="text-right">
            <button pButton label="Employee" class="p-button-outlined mb-2" (click)="addEmployee()"
                icon="pi pi-plus"></button>
        </div>
        <p-table #dt1 [value]="employees" [loading]="loading" dataKey="id" [rows]="5" [rowHover]="true"
            styleClass="p-datatable-gridlines" [paginator]="true"
            [globalFilterFields]="['firsName','phoneNumber','lastName','email','employmentDate','employmentPosition','employmentStatus']"
            responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Search Keyword" class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Name
                            <p-columnFilter type="text" field="name" display="menu"
                                placeholder="Search by name"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Phone Number
                            <p-columnFilter type="text" field="country.name" display="menu"
                                placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                        <div class="flex justify-content-between align-items-center">
                            Email

                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div class="flex justify-content-between align-items-center">
                            Employment Date
                            <p-columnFilter type="date" field="date" display="menu"
                                placeholder="mm/dd/yyyy"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div class="flex justify-content-between align-items-center">
                            Position
                            <p-columnFilter type="numeric" field="balance" display="menu"
                                currency="USD"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Status

                        </div>
                    </th>
                    <th></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
                <tr>
                    <td>

                        <img [alt]="employee.firstName" [src]="getImage(employee.imagePath)" 
                            style="vertical-align: middle; border-radius: 50%; width: 30px; height: 30px;" />

                        <span class="image-text ml-2">{{employee.firstName}} {{employee.lastName}}</span>

                    </td>
                    <td>
                        {{employee.phoneNumber}}
                    </td>
                    <td>
                        {{employee.email}}
                    </td>
                    <td>
                        {{employee.employmentDate | date: 'MM/dd/yyyy'}}
                    </td>
                    <td>
                        {{employee.employmentPosition }}
                    </td>
                    <td>
                        <span
                            [class]="'customer-badge status-' + employee.employmentStatus">{{employee.employmentStatus}}</span>
                    </td>
                    <td>
                        
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEmployee(employee.id)"></button>
                        
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No employee found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>



<p-dialog header="Add Employee" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <app-add-employee (employeeAdded)="onEmployeeAdded($event)" />
</p-dialog>