<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> Update User Roles</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>
    <div class="card">
      <p-pickList [source]="sourceRoles" [target]="targetRoles" sourceHeader="User's Roles" targetHeader="All Roles"
      [dragdrop]="true" [responsive]="true" [sourceStyle]="{ 'height': '300px'  }" [targetStyle]="{ 'height': '300px'}"
      breakpoint="1400px" [showSourceControls]="false" [showTargetControls]="false" 
      (onMoveToTarget)="revokeRole($event)"
      (onMoveToSource)="assignRole($event)"
       >
        <ng-template let-roles pTemplate="item">
          <div class="flex flex-wrap p-2 align-items-center gap-3">
            
            <div class="flex-1 flex flex-column gap-2">
              <span class="font-bold">{{ roles.label }}</span>
            </div>
          </div>
        </ng-template>
      </p-pickList>

    </div>
</div>

