<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> Edit Client</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>
    
    <div class="card">
        <div class="card-body">
            <form [formGroup]="ClientForm" (submit)="onSubmit()">
                <div class="p-fluid p-formgrid grid">
                    
                    
                    <div class="row">
                        <div class="col-md-3 ">
                            <img  [src]="getImage2()" alt="Profile"
                            style="width: 230px; border-radius: 50%; height: 230px;">
                            <input #file (change)="onUpload2($event)" type="file" style="display: none;" accept="image/*" />
                            <div class="pt-2">
                                <a (click)="file.click()" style="width: 100%;" class="btn btn-outline-primary btn-sm"
                                title="Upload new profile image">
                                <i class="bi bi-upload"></i> Update Logo
                            </a>
                        </div>
                        
                            <div class="card mt-6">
                                <h5 style="font:bolder">Client File List</h5>
                                <p-divider layout="horizontal">
                                    
                                </p-divider>
                                <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                                    <li *ngFor="let file of client.clientFiles">
                                        
                                        <a (click)="viewPdf(file.filePath)" target="_blank" >  
                                            <i class="pi pi-file text-primary p-2"></i>
                                            {{file.fileName}} 
                                           
                                        </a>
                                        
                                    </li>
                                    <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
                                </p-scrollPanel>
                            </div>
                        
                        
                    </div>
                    <div class="col-md-9">
                        <div class="p-fluid p-formgrid grid">
                            <div *ngIf="client.clientFiles !== null" class="field col-12">
                                <p-fileUpload   (onSelect)="onUpload($event)" [multiple]="true" 
                                [maxFileSize]="50000000">
                                <ng-template pTemplate="content">
                                    <ul >
                                        
                                        
                                    </ul>
                                    
                                    </ng-template>
                                </p-fileUpload>
                            
                            </div>

                            
                            <div class="field col-12 md:col-6">
                                <label htmlFor="name">Name</label>
                                <input pInputText id="name" formControlName="Name" type="text" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="name">Email </label>
                                <input pInputText id="name" formControlName="Email" type="text" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="name">Phone Number</label>
                                <input pInputText id="name" formControlName="PhoneNo" type="text" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="name">Address</label>
                                <input pInputText id="name" type="text" formControlName="Address" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="firstname2">Contract End Date</label>
                                <input pInputText id="firstname2" formControlName="ContractEndDate" type="date" />
                            </div>
                            
                            
                            <div class="field col-12 md:col-6">
                                <label htmlFor="state">Contract Status</label>
                                <p-dropdown [options]="contractStatusDropdownItems" optionLabel="name"
                                formControlName="ContractStatus" placeholder="Select Contract Status" [showClear]="true"></p-dropdown>
                            </div>
                            
                            
                            <div class="field col-12">
                                <textarea rows="3" cols="15" placeholder="Client Description" formControlName="Description" pInputTextarea></textarea>
                            </div>
                            
                    </div>
                    <hr />
                    
                </div>
                <button pButton type="submit" [disabled]="!ClientForm.valid" label="Submit"></button>
            </div>
        </div>
    </form>
    
    
</div>
</div>
</div>
