.project-badge{
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
.project-badge {
    &.status-completed {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-canceld {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-pending {
        background: #FEEDAF;
        color: #8A5340;
    }
    &.status-ongoing {
        background:#9DD9F3 ;
        color: #3B82F6 ;
    }
}
.status-badge{
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
.green-border {
    border-color: green;
}

.bg-red {
    background-color: #ff0000b8;
  }
.border-success{
    border: 2px solid green !important;
}
.border-cancle {
    border: 2px solid #ffcc00b8 !important;
}
.border-overdue{
    border: 2px solid #ff0000b8 !important;
}
.pro-card{
    height: 380px;
}
