<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/logo.png" alt="logo">
        <span>DAFTech Social</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-chip [label]="user.FullName" [image]="getImage(user.Photo)" styleClass="m-1"></p-chip>
        <button class="p-link layout-topbar-button" (click)="showAnnouncement()">
            <i class="pi pi-bell"></i>
            <span>Announcement</span>
        </button>
                    
        <button class="p-link layout-topbar-button" (click)="logOut()">
            <i class="pi pi-sign-out"></i>
            <span>Log Out</span>
        </button>
    </div>
</div>