<div class="card">
  <h5 style="font-size: 16px; font-weight:700; color: #3366fe;"> Profile</h5>
  <div style="display: flex; margin-top: 25px; gap: 20px;">
    
    <div style="flex: 1;">
      
        <div class="profile-container">
          <div class="profile-image">
            <img [src]="getImage(employee.imagePath)"  alt="Profile Image" />
            <i class="pi pi-camera edit-icon" (click)="editImage(employee.id)"></i>
          </div>
          
        </div>
      
    </div>
    
    <div style="flex: 3; margin-left: 40px;">
      <div class="">
        <div class="card cont">
          <div style="margin-top: 20px;" class="profile-info">
            
            <div>
              <div style="font-size: 30px; font-weight: 700;">{{ employee.firstName }} {{ employee.lastName }}</div>
            </div>
            <div style="margin-left: 80px; font-weight: 700;">{{ employee.employmentPosition }}</div>
            <div class="">
              <div class="spaners">
                <i style="margin-top: 10px;
                margin-right: 10px;
                color: #0000ffc4;" class="pi  pi-inbox"></i>
                <p >{{ employee.email }}</p>
              </div>
              <div class="spaners">
                <i style="margin-top: 6px;
                margin-right: 10px;
                color: #7f7f82c4;" class="pi   pi-phone"></i>
                 <p>{{ employee.phoneNumber }}</p>
              </div>
              <div class="spaners">
                <i style="margin-top: 5px;
                margin-right: 10px;
                color: #00ff4cc4;" class="pi  pi-map-marker"></i>
            <p>{{ employee.address }}</p>
              </div>
            </div>
          
          
         
            
          </div>
          
          <button pButton pRipple type="button" label="Change Password" icon="pi pi-pencil" (click)="changePassword()" class="p-button-outlined top-right-button p-button-secondary"></button>

        </div>
      </div>
      
      
      
      
    </div>
    
  </div>
  
</div>
