<div class="card">

</div>
<div class="card">
    <h5>{{projects.projectName}}'s Tasks</h5>
    <p-timeline [value]="projects.taskLists" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-task>
        
        </ng-template>
        <ng-template pTemplate="content" let-task>
            <p-card [header]="task.taskName" [subheader]="task.endDate | date:'yyyy-MM-dd'">
                
                <p-chip [label]="task.employeeName" [image]="getImage(task.employeeImagePath)" styleClass="m-1"></p-chip>
                    
                <p class="line-height-3 my-3">{{task.description}}</p>
                
            </p-card>
        </ng-template>
    </p-timeline>
</div>
